<%
  javascript_lazy_include_tag "content"

  head_title "コンテンツ作成"

  title = @content.present? ? @content.title : ""
  subtitle = @content.present? ? @content.subtitle : ""
  description = @content.present? ? @content.description : ""
  episode = @content.present? ? @content.episode : ""
%>
<%= render "shared/global_navbar" %>

<div class="container">
  <%= form_tag({ controller: "content", action: action_name }, role: "form") do %>
    <div class="form-group">
      <label class="">Title</label>
      <%= text_field_tag "title", title, placeholder: "Title", class: "form-control" %>
    </div>
    <div class="form-group">
      <label class="">Subtitle</label>
      <%= text_field_tag "subtitle", subtitle, placeholder: "Subtitle", class: "form-control" %>
    </div>
    <div class="form-group">
      <label class="">Episode</label>
      <%= text_field_tag "episode", episode, placeholder: "1", class: "form-control" %>
    </div>
    <div class="form-group">
      <label class="">Description</label>
      <%= text_area_tag("description", description, rows: "3", class: "form-control") %>
    </div>
    <button class="btn btn-sm btn-primary" type="submit ">Save</button>
  <% end %>

  <% if @content.present? %>
  <%= form_tag({ controller: "content", action: "auth_publish", id: @content.id }, role: "form") do %>
    <button class="btn btn-sm btn-primary" type="submit ">Publish</button>
  <% end %>
  <% end %>
  <%= render "shared/global_footer" %>
</div>
<!-- /container -->
