<%
javascript_lazy_include_tag "content"
content_id = @content.present? ? @content.id  : ''
_title = "#{@content.title} 第#{@content.episode}話"
head_title _title
%>
<%= hidden_field_tag 'content_id', content_id %>
<%= render "shared/global_navbar" %>

<div class="container">
  <div class="masthead">
    <h1 class="text-muted"><%= _title %></h1>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
      <li><a href="#wiki" data-toggle="tab">Wiki</a></li>
    </ul>
  </div>
  <div class="jumbotron">
    <h3 class="text-muted"><%= @content.subtitle %></h3>
    <p class="lead"><%= @content.description %></p>
    <iframe width="560" height="315" src="//www.youtube.com/embed/YDP_VmDnQ-s" frameborder="0" allowfullscreen></iframe>
  </div>
  <!-- /jumbotron -->
  <div class="row content-message">
    <% @content.messages.each do |message| %>
    <% user_name = "anonymous" %>
    <div id="m_<%= message.id %>" class="col-lg-4">
      <h4><%= message.id %>:&nbsp;<%= user_name %></h4>
      <p><%= message.body %></p>
      <hr>
      <p><%= message.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
    </div>
    <% end %>
  </div>
  <!-- /row -->

  <%= render "shared/global_footer" %>
</div>
<!-- /container -->

<%= render "shared/content_message_dialog" %>

<script id="content_each_message" type="text/x-jsrender"">
<div id="m_{{:id}}" class="col-lg-4">
  <h3>{{:id}}:&nbsp;{{:user_name}}</h3>
  <p>{{:message}}</p>
  <hr>
  <p>{{:updated_at}}</p>
</div>
</script>
