<%
javascript_lazy_include_tag "content"
content_id = @content.present? ? @content.id  : ''

_title = "#{@content.title}"
_title = "#{_title} 第#{@content.episode}話" if @content.episode.present?
head_title _title

@meta_content = @content.title
@meta_keyword = @content.title
%>
<%= hidden_field_tag 'content_id', content_id %>
<%= render "shared/global_navbar" %>

<div class="container">
  <div class="masthead">
    <h1 class="text-muted"><%= _title %></h1>
  </div>
  <div class="jumbotron">
    <h3 class="text-muted"><%= @content.subtitle %></h3>
    <p class="lead" id="content_description"><%= @content.description %></p>
  </div>
  <!-- /jumbotron -->
  <div class="row content-message">
    <% @messages.each do |message| %>
    <% user_name = "anonymous" %>
    <div id="m_<%= message.id %>" class="col-lg-4">
      <h4><%= message.id %>:&nbsp;<%= user_name %></h4>
      <p><%= message.body %></p>
      <hr>
      <p><%= message.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
    </div>
    <% end %>
  </div>
  <!-- /row -->

  <div class="row">
    <%= paginate @messages %>
  </div>
  <!-- /row -->

  <% if @amazon.present? %>
  <div class="row">
    <% @amazon.items.each_with_index do |item, idx| %>
      <%
          break if idx == 6
          idx += 1
      %>
      <%= link_to(item.get("DetailPageURL")) do  %>
        <div class="col-lg-4">
          <%= image_tag(item.get("MediumImage/URL")) %>
          <p><%= item.get("ItemAttributes/Title")%></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <% end %>
  <!-- /row -->
  <%= render "shared/global_footer" %>
</div>
<!-- /container -->

<%= render "shared/content_message_dialog" %>

<script id="content_each_message" type="text/x-jsrender"">
<div id="m_{{:id}}" class="col-lg-4">
  <h3>{{:id}}:&nbsp;{{:user_name}}</h3>
  <p>{{:message}}</p>
  <hr>
  <p>{{:updated_at}}</p>
</div>
</script>
