<%
  javascript_lazy_include_tag "content", "bootstrap-markdown"
  content_id = @content.present? ? @content.id  : ''

  _title = "#{@content.title}"
  _title = "#{_title} 第#{@content.episode}話" if @content.episode.present?
  head_title _title

  @meta_content = @content.title
  @meta_keyword = @content.title
%>
<%= hidden_field_tag 'content_id', content_id %>
<%= render "shared/global_navbar" %>

<div class="container">
  <div class="masthead">
    <h1 class="text-muted"><%= _title %></h1>
  </div>
  <div class="jumbotron">
    <h3 class="text-muted"><%= @content.subtitle %></h3>
    <p class="lead" id="content_description"><%= @content.description %></p>
  </div>
  <!-- /jumbotron -->
  <% @messages.each_with_index do |message, idx| %>
  <div class="row content-message">
    <% user_name = "anonymous" %>
    <div id="m_<%= message.id %>" class="col-sm-9 message">
      <p class="message-body"><%= raw RDiscount.new(nl2br message.body).to_html %></p>
      <div class="created">by&nbsp;<%= user_name %>&nbsp;at&nbsp;<%= message.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
    </div>
    <div class="col-sm-3">
      <% if @amazons.present? && @amazons.size > idx %>
      <%= render "recommend_item", item: @amazons[idx] %>
      <% end %>
    </div>
  </div>
  <% end %>
  <!-- /row -->

  <div class="row">
    <%= paginate @messages %>
  </div>
  <!-- /row -->

  <% if @amazons.present? && @messages.blank? %>
  <div class="row">
    <% @amazons.each_with_index do |item, idx| %>
      <%
          break if idx == 6
          idx += 1
      %>
      <%= link_to(item[:url]) do  %>
        <div class="col-lg-4">
          <%= image_tag(item[:img]) %>
          <p><%= item[:title] %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <% end %>
  <!-- /row -->

  <%= render "shared/global_footer" %>
</div>
<!-- /container -->

<%= render "shared/content_message_dialog" %>

<script id="content_each_message" type="text/x-jsrender"">
<div id="m_{{:id}}" class="col-sm-9 message">
  <p class="message-body">{{:message}}</p>
  <p>{{:updated_at}}</p>
  <div class="created">by&nbsp;{{:user_name}}&nbsp;at&nbsp;{{:updated_at}}</div>
</div>
<div class="col-sm-3">
</div>
</script>
