<!DOCTYPE html>
<html>
<head>
  <title><%= @head_title ? @head_title : 'Anithre' %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= render "shared/global_seo_meta" %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

<%= javascript_include_tag "application" %>
<% if @content_for_javascripts %>
  <% @content_for_javascripts.each do |js| %>
  <%= js %>
  <% end %>
<% end %>
</body>
</html>
